<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="model"            default="$(find xacro)/xacro '$(find igvc2023)/urdf/orange.xacro'" />
    <arg name="calibration"      default="$(find igvc2023)/params/VLP16db.yaml"/>
    <arg name="scan_dev"         default="/dev/sensors/hokuyo_urg"/>
    <arg name="imu_dev"          default="/dev/sensors/imu"/>
    <arg name="camera_dev"       default="/dev/sensors/insta360_air"/>
    <arg name="LED_dev"          default="/dev/sensors/LED"/>
    <arg name="gps_dev"          default="/dev/ttyACM0"/>
    <arg name="gps1_dev"         default="/dev/ttyACM1"/>
    <arg name="gps2_dev"         default="/dev/ttyACM2"/>
    <arg name="cmd_vel"          default="/cmd_vel"/>
    <arg name="motor_driver_dev" default="/dev/ZLAC8015D"/>
    <arg name="estop_dev"        default="/dev/E-Stop"/>
    <arg name="debug"            default="false"/>
    
    
    <!-- Start sensors (hokuyo, velodyne, imu, camera, LED, gps) -->
    <include file="$(find igvc2023)/launch/sensors.launch">
        <arg name="model"            value="$(arg model)" />
        <arg name="calibration"      value="$(arg calibration)"/>
        <arg name="scan_dev"         value="$(arg scan_dev)"/>
        <arg name="imu_dev"          value="$(arg imu_dev)"/>
        <arg name="camera_dev"       value="$(arg camera_dev)"/>
        <arg name="LED_dev"          value="$(arg LED_dev)"/>
        <arg name="gps_dev"          value="$(arg gps_dev)"/>
        <arg name="gps1_dev"         value="$(arg gps1_dev)"/>
        <arg name="gps2_dev"         value="$(arg gps2_dev)"/>
    </include>
    
    
    <!-- Start motor -->
    <include file="$(find igvc2023)/launch/motor.launch">
        <arg name="cmd_vel"            value="$(arg cmd_vel)" />
        <arg name="motor_driver_dev"   value="$(arg motor_driver_dev)"/>
        <arg name="estop_dev"          value="$(arg estop_dev)"/>
        <arg name="debug"              value="$(arg debug)"/>
    </include>
    
</launch>
