<?xml version="1.0"?>
<robot name="sensor_gps" xmlns:xacro="http://ros.org/wiki/xacro"
                         xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
                         xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:macro name="sensor_gps" params="name parent *origin">
    <joint name="${name}_joint" type="fixed">
        <xacro:insert_block name="origin"/>
        <axis xyz="1 0 0"/>
        <parent link="${parent}"/>
        <child link="${name}_link"/>
    </joint>
    
    <link name="${name}_link">
      <visual>
        <origin xyz="1 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.015"/>
        </geometry>
      </visual>
 
      <collision>
        <origin xyz="1 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius="0.015"/>
        </geometry>
      </collision>
    </link>
    
    <gazebo>
      <plugin name="gps" filename="libhector_gazebo_ros_gps.so">  
          <updateRate>1.0</updateRate>  
          <topicName>/fix</topicName>  
          <gaussianNoise>0.05 0.05 0.05</gaussianNoise>  
          <offset>0 0 0</offset>  
          <velocityGaussianNoise>0 0 0</velocityGaussianNoise>  
          <frameId>gps_link</frameId>  
      </plugin>  
     <material>Gazebo/White</material>
    </gazebo> 
  </xacro:macro>
</robot>
